[mysqld]

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

expire_logs_days = 3
max_binlog_size = 100m
## 普通日志
general_log = ON
general_log_file = mysql.log
## 错误日志
log-error = mysql_err.log
## binlog日志
## 设置前缀名
log-bin = mysql-bin
log_bin_trust_function_creators = ON
## FORMAT TYPE : STATEMENT | ROW | MIXED
binlog-format = STATEMENT
